@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/* color palette:   #5d4648 for a rose ebony background
                    #234328 for green quiz area background
                    #f9db6d for text and some shades
                    #fae1df for text and shades
*/

/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Play', sans-serif;
    overflow-y: hidden;
}

html {
    background: linear-gradient(85deg, #5d4648 1%,#921099 48%,#7e4ae8 100%);
}

body {
    color: #f9db6d;
}

/* Home page heading and Quiz name */

.quiz-name {
    text-align: center;
    font-size: 60px;
    padding: 25px;
}

h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

/* Main Quiz wrap styles */

.quiz-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* Home page and highscores navigation buttons */

.btn {
    font-size: 50px;
    padding: 40px;
    width: 500px;
    text-align: center;
    margin: 30px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%,#19642c 60%,#04ac20 90%);
    border-radius: 15px;
}

.btn:hover, #highscores-btn:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px #fae1df;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* font awesome icons for front page and highscores buttons */

.fa-chess-queen,
.fa-chess,
.fa-carrot,
.fa-lemon {
    margin: 0 20px 0 20px;
    color: #fae1df;
}

#highscores-btn {
    background: linear-gradient(45deg, #f58d64d3 10%, #d42008d3 40%, #af3404d3 95%);
}

#high-scores {
    margin: 35px 0 40px 0;
}

#final-score {
    font-size: 60px;
    margin-bottom: 20px;
}

/* Save Score page */

.save-score-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#save-score-text {
    font-size: 35px;
}

input {
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    outline: none;
}

input::placeholder {
    color: #234328;
}

#username {
    margin-bottom: 20px;
    width: 60%;
    outline: none;
}

#save-score-btn {
    border: none;
}


.btn-save-score {
    font-size: 40px;
    width: 400px;
    text-align: center;
    margin: 25px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%,#1b5c2b 60%,#04ac20 90%);
    border-radius: 15px;
    padding: 20px;
}

.btn-save-score:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}

/* Font awesome icons buttons style on save score page */
.fa-laptop-house,
.fa-save,
.fa-redo {
    margin-left: 20px;
    color: #247ba0;
}

/* Style for responsive page on screen sizes maximum 660px */
@media screen and (max-width: 660px){
    
    .quiz-name,
    #final-score {
        font-size: 35px;
        max-width: 250px;
    }

    p,
    li {
        font-size: 22px;
    }

    .btn,
    .btn-save-score {
        font-size: 20px;
        padding: 20px;
        max-width: 300px;
    }
}