/* Global color palette:   #5d4648 for a rose ebony background
                    #234328 for green quiz area background
                    #f9db6d for text and some shades
                    #fae1df for text and shades
*/

body {
    color: #f9db6d;
}

#final-score {
    padding-top: 20px;
}

#high-scores-list {
    list-style: none;
}

.highscores {
    font-size: 20px;
    margin: 10px;
}

.btn-reset {
    font-size: 20px;
    padding: 15px;
    width: 300px;
    text-align: center;
    margin: 20px;
    border: none;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #f58d64d3 10%, #d42008d3 40%, #af3404d3 95%);
    border-radius: 15px;
}

.btn-reset:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}