/* global color palette:   #5d4648 for a rose ebony background
                    #234328 for green quiz area background
                    #f9db6d for text and some shades
                    #fae1df for text and shades
*/

body {
    color: #f9db6d;
}

#high-scores-list {
    list-style: none;
}

.highscores {
    font-size: 20px;
    margin-bottom: 5px;
}