@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/* color palette:   #5d4648 for a rose ebony background shade
                    #921099 for a half of background shade
                    #7e4ae8 for finishing shade of main screen
                    #234328 for green quiz button and answer button background
                    #d42008d3 for orange buttons
                    #f9db6d for text and some shades
                    #fae1df for text and shades
*/

/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Play', sans-serif;
}

html {
    background: linear-gradient(85deg, #5d4648 1%, #921099 48%, #7e4ae8 100%);
}

body {
    color: #f9db6d;
}

/* Home page heading and Quiz name */

.quiz-name {
    text-align: center;
    font-size: 60px;
    padding: 10px;
}


h2 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0 10px 0;
}


p {
    font-size: 25px;
    text-align: center;
    margin: 0 10px 0 10px;
}

a {
    text-decoration: none;
    color: #f9db6d;
}

#questions-num {
    font-size: 22px;
    margin: 10px 0 10px 0;
}

.choose-number-quest {
    margin: 10px;
    text-align: center;
}

.fa-github,
.fa-linkedin {
    text-align: center;
    width: 50px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%, #19642c 60%, #04ac20 90%);
    border-radius: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fa-github:hover,
.fa-linkedin:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}


/* Main Quiz wrap styles */

.quiz-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* Home page and highscores navigation buttons */

.btn {
    font-size: 50px;
    padding: 28px;
    width: 500px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%, #19642c 60%, #04ac20 90%);
    border-radius: 15px;
}

.btn:hover,
#highscores-btn:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/* Font awesome icons for front page and highscores buttons */
.fas {
    font-size: 22px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fa-carrot {
    color: orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 10px 0 10px;
}

.fa-lemon {
    color: yellow;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 10px 0 10px;
}

.fa-seedling {
    color: green;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 10px 0 10px;
}

.fa-chess-queen,
.fa-chess {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 10px 0 10px;
}

#highscores-btn {
    background: linear-gradient(45deg, #f58d64d3 10%, #d42008d3 40%, #af3404d3 95%);
}

#final-score {
    font-size: 45px;
}

/* Save Score page */

.save-score-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

#save-score-text {
    font-size: 30px;
}

input {
    margin-bottom: 20px;
    max-width: 170px;
    padding: 20px;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    outline: none;
}

input::placeholder {
    color: #234328;
}

#username {
    margin-bottom: 20px;
    width: 60%;
    outline: none;
}

#save-score-btn {
    border: none;
}


.btn-save-score {
    font-size: 30px;
    width: 400px;
    text-align: center;
    margin: 18px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%, #1b5c2b 60%, #04ac20 90%);
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.btn-replay {
    width: 60px;
    margin: 10px;
    text-decoration: none;
    color: #f9db6d;
    background: linear-gradient(45deg, #234328 10%, #1b5c2b 60%, #04ac20 90%);
    border-radius: 15px;
    padding: 10px;
}

.btn-save-score:hover,
.btn-replay:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px #f9db6d;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn-replay {
    float: right;
}

footer {
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    right: 0;
}

/* Font awesome icons buttons style on save score page */
.fa-laptop-house,
.fa-save,
.fa-redo {
    margin-left: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #f9db6d;
}

/* Style for responsive page on screen sizes maximum 660px */
@media screen and (max-width: 660px) {

    .quiz-name,
    #final-score {
        font-size: 30px;
        margin: 10px;
    }

    .choose-number-quest {
        font-size: 15px;
        text-align: center;
    }

    #questions-num {
        max-width: 180px;
        max-height: 20px;
        font-size: 17px;
        margin: 8px;
    }

    p,
    li {
        font-size: 22px;
        text-align: center;
    }

    .btn,
    .btn-save-score,
    .btn-replay,
    .fa-laptop-house,
    .fa-github {
        font-size: 16px;
        padding: 10px;
        max-width: 190px;
    }

    .btn:hover,
    .btn-save-score:hover {
        cursor: pointer;
        box-shadow: 0 10px 20px #f9db6d;
        transition: transform 150ms;
        transform: scale(1.03);
    }

    @media screen and (max-width: 850px) {
        .quiz-area {
            max-width: 850px;
        }

        #questions-num {
            max-width: 210px;
            max-height: 22px;
            font-size: 18px;
            margin: 10px;
        }

        .quiz-name {
            padding-top: 15px;
        }

        p {
            font-size: 16px;
        }

        .btn,
        .btn-save-score,
        .btn-replay {
            font-size: 20px;
            margin: 15px;
        }

        .btn:hover,
        .btn-save-score:hover {
            cursor: pointer;
            box-shadow: 0 10px 20px #f9db6d;
            transition: transform 150ms;
            transform: scale(1.03);
        }
    }
}